﻿@model IEnumerable<WCFWebApplication.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Age
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.users)
{
    <tr>
        <td>
            @item.name
        </td>
        <td>
            @item.lastName
        </td>
        <td>
            @item.age
        </td>
        <td>
            @item.roleId
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
